{% liquid
  assign id = section.id
  assign blocks = section.blocks
%}

<style>
  #shopify-section-{{id}} {
    box-sizing: border-box;
    margin-top: {{section.settings.margin_top | append: 'px'}};
    margin-bottom: {{section.settings.margin_bottom | append: 'px'}};
    padding-top: {{section.settings.padding_top | append: 'px'}};
    padding-bottom: {{section.settings.padding_bottom | append: 'px'}};
  }

  @media(max-width: 768px) {
    #shopify-section-{{id}} {
      margin-top: {{section.settings.margin_top_m | append: 'px'}};
      margin-bottom: {{section.settings.margin_bottom_m | append: 'px'}};
      padding-top: {{section.settings.padding_top_m | append: 'px'}};
      padding-bottom: {{section.settings.padding_bottom_m | append: 'px'}};
    }
  }

  .wrapper-{{ id }} {
    display: grid;
    grid-template-columns: repeat({{section.blocks.size}}, 1fr);
    grid-gap: 20px;
  }
  .img-wrapper-{{ id }} img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-wrapper-{{ id }} svg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,10%);
  }

  .title-{{ id }} {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin: 0 0 20px 0;
    display: inline-block;
  }
  .title-{{ id }} span {
    margin: 0;
  }
  .sub-title-{{ id }} {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  .text-{{ id }} {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  }

  @media(max-width: 768px) {
    .wrapper-{{ id }} {
      grid-template-columns: 1fr;
      grid-gap: 0px;
      box-sizing: border-box;
      border-radius: 7px;
      overflow: hidden;
    }
    .img-wrapper-{{ id }} {
      grid-row: {{ section.settings.image_position_mobile }};
      grid-columns: 1/2;
      border-radius: unset !important;
    }
    .text-wrapper-{{ id }} {
      border-radius: unset !important;
    }
    .title-{{ id }} {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 9px 0;
      padding-bottom: 9px;
    }
    .sub-title-{{ id }} {
      font-size: 18px;
      line-height: 22px;
    }
    .text-{{ id }} {
      font-size: 14px;
      line-height: 18px;
    }
  }
</style>

<div class="sec-{{ id }}">
  <div class="{% unless section.settings.full_width %}page-width{% endunless %}">
    <div class="wrapper-{{ id }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image' %}
            <div class="img-wrapper-{{ id }}">
              {% unless block.settings.image_desktop == blank %}
                <picture>
                  <source
                    media="(min-width:1920px)"
                    srcset="{{ block.settings.image_desktop | image_url: width: 1900 }}"
                  >
                  <source
                    media="(min-width:1600px)"
                    srcset="{{ block.settings.image_desktop | image_url: width: 1600 }}"
                  >
                  <source
                    media="(min-width:1440px)"
                    srcset="{{ block.settings.image_desktop | image_url: width: 1400 }}"
                  >
                  <source
                    media="(min-width:1024px)"
                    srcset="{{ block.settings.image_desktop | image_url: width: 1000 }}"
                  >
                  <source media="(min-width:650px)" srcset="{{ block.settings.image_desktop | image_url: width: 700 }}">
                  {% unless block.settings.image_mobile == blank %}
                    {{ block.settings.image_mobile | image_url: width: 400 | image_tag: loading: 'lazy' }}
                  {% else %}
                    {{ block.settings.image_desktop | image_url: width: 400 | image_tag: loading: 'lazy' }}
                  {% endunless %}
                </picture>
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endunless %}
            </div>
            <style>
              .img-wrapper-{{ id }} {
                box-sizing: border-box;
                border-radius: 7px;
                overflow: hidden;
              }
            </style>
          {% when 'text' %}
            <div class="text-wrapper-{{ id }}">
              {% unless block.settings.title == blank %}
                <h2 class="title-{{ id }}">{{ block.settings.title }}</h2>
              {% endunless %}
              {% unless block.settings.sub_title == blank %}
                <h3 class="sub-title-{{ id }}">{{ block.settings.sub_title }}</h3>
              {% endunless %}
              {% unless block.settings.text == blank %}
                <div class="text-{{ id }}">{{ block.settings.text }}</div>
              {% endunless %}
            </div>
            <style>
              .text-wrapper-{{ id }} {
                background: {{block.settings.background_color}};
                box-sizing: border-box;
                border-radius: 7px;
                padding: 25px 32px;
              }
              .title-{{ id }} {
                color: {{block.settings.title_color}};
                border-bottom: 1px solid {{block.settings.title_color}};
              }
              .title-{{ id }} span {
                color: {{block.settings.title_span_color}};
              }
              .sub-title-{{ id }} {
                color: {{block.settings.title_color}};
              }
              .text-{{ id }} {
                color: {{block.settings.text_color}};
              }
            </style>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Text Image Grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Section",
      "default": true
    },
    {
      "type": "select",
      "id": "image_position_mobile",
      "label": "Image Position Mobile",
      "options": [
        {
          "value": "1/2",
          "label": "Top"
        },
        {
          "value": "2/3",
          "label": "Bottom"
        }
      ],
      "default": "1/2"
    },
    {
      "type": "header",
      "content": "Section Spacing Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Spacing Mobile"
    },
    {
      "type": "range",
      "id": "margin_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Top",
      "default": 24
    },
    {
      "type": "range",
      "id": "margin_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_top_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_m",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "max_blocks": 2,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile Image"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>"
        },
        {
          "type": "color_background",
          "id": "background_color",
          "label": "Background Color",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#212121"
        },
        {
          "type": "color",
          "id": "title_span_color",
          "label": "Title Span Color",
          "default": "#E60000"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#212121"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Image Grid"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
